{% extends "AppCoder/padre.html" %}

{% block titulo %}
Formulario para crear cursos
{% endblock %}

{% block formulario %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <form action="/AC/crear_curso/" method="POST"> {% csrf_token %}
        <p>Nombre: <input type="text" name="nombre"></p>
        <p>Comisión: <input type="number" name="comision"></p>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>
{% endblock %}
